@model Entidades.Reservas
@{
    ViewBag.Title = "ReservasVersiones";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading fondoCabecera">
                <h3 class="panel-title text-center"><img src="~/Content/Images/logo.png" alt="Logo de Cinelam" /></h3>
            </div>
        <div class="panel-body text-center">
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading fondoCabeceraAdmin2">
                                    @Html.Label("Informacion sobre la reserva", new { @class = "panel-title " })
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-3"><strong>Pelicula:</strong> Logan</div>
                                    <div class="col-md-3"><strong>Version:</strong> Subtitulada</div>
                                    <div class="col-md-3"><strong>Sede:</strong> Cinema Devoto</div>
                                    <div class="col-md-3"><strong>Dia:</strong> 15/05/2017 (Funcion 1: 10Hs)</div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading fondoCabeceraAdmin2">
                                    @Html.Label("Detalles de la Pelicula", new { @class = "panel-title " })
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-3"><strong>Pelicula:</strong> Logan</div>
                                    <div class="col-md-3"><strong>Version:</strong> Subtitulada</div>
                                    <div class="col-md-3"><strong>Sede:</strong> Cinema Devoto</div>
                                    <div class="col-md-3"><strong>Dia:</strong> 15/05/2017 (Funcion 1: 10Hs)</div>
                                </div>
                            </div>
                                                
                                <button type="submit" class="btn btn-danger btn-block" >Ir al Paso 4</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

