@model Entidades.Reservas
@{
    ViewBag.Title = "ReservasVersiones";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading fondoCabecera">
                <h3 class="panel-title text-center"><img src="~/Content/Images/logo.png" alt="Logo de Cinelam" /></h3>
            </div>
        <div class="panel-body text-center">
            <h5 class="text-center">Sigue lo siguientes pasos para realizar tu reserva.</h5>
            <img src="~/Content/Images/paso1OFF.png" /> <img src="~/Content/Images/paso2.png" /> <img src="~/Content/Images/paso3OFF.png" /> <img src="~/Content/Images/paso4OFF.png" /> <br /><br />
                    @using (Html.BeginForm("ReservasSedes", "Peliculas", FormMethod.Post))
                    {
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading fondoCabeceraAdmin2">
                                    @Html.Label("Seleccionar una Sede", new { @class = "panel-title " })
                                </div>
                                <div class="panel-body">
                                    @Html.DropDownListFor(model => model.IdSede, new SelectList(ViewBag.Sedes, "IdSede", "Nombre"), new { @class = "form-control" })
                                </div>
                            </div>
                                @Html.TextBox("IdPelicula", null, new{@class = "hidden", Value = ViewBag.Pelicula})
                                @Html.TextBox("IdVersion", null, new{@class = "hidden", Value = ViewBag.Version})
                                                
                                <button type="submit" class="btn btn-danger btn-block" >Ir al Paso 3</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
