@{
    ViewBag.Title = "Sedes";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h3 class="text-center">Administracion - Sedes</h3>
<div class="container">
       
    <!-- Listado de Sedes -->
    <div class="row" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Listado de Sedes</h3>
          </div>
          <div class="panel-body">
        <table class="table table-hover text-center">
            <tr>
              <td><strong>Sede</strong></td>
              <td><strong>Accion</strong></td>
            </tr>
 
            <tr>
              <td>Devoto Shopping</td>
              <td><a href="#" class="btn btn-warning">Modificar</a></td>
            </tr>
 
            <tr>
              <td>Alto Palermo</td>
              <td><a href="#" class="btn btn-warning">Modificar</a></td>
            </tr>
 
            <tr>
              <td>Abasto Shopping</td>
              <td><a href="#" class="btn btn-warning">Modificar</a></td>
            </tr>
        </table>
              <button onclick="mostrar('nuevaPelicula')" class="btn btn-primary btn-block">Nueva Sede</button> 
          </div>
        </div>
    </div>

        <!-- Formulario - Nueva Sede -->
    <div id="nuevaPelicula" class="row oculto">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading"><h3 class="panel-title text-center">NUEVA SEDE</h3></div>
                <div class="panel-body">
                    <form role="form">
          <div class="form-group">
            <label for="Nombre">Nombre de la Sede</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre">
          </div>

          <div class="form-group">
            <label for="Direccion">Direccion</label>
            <input type="text" class="form-control" id="Direccion" name="Direccion">
          </div>

          <div class="form-group">
            <label for="PrecioEntrada">Precio de la Entrada General</label>
            <input type="text" class="form-control" id="PrecioEntrada" name="PrecioEntrada">
          </div>

          <div class="form-group">
            <label for="Calificacion">Calificacion</label>
            <select class="form-control" id="Calificacion" name="Calificacion">
              <option>ATP</option>
              <option>Mayores de 13</option>
              <option>Mayores de 13 con Reservas</option>
              <option>Mayores de 16</option>
              <option>Mayores de 16 con Reservas</option>
            </select>
          </div>

          <div class="form-group">
            <label for="Genero">Genero</label>
            <select class="form-control" id="Genero" name="Genero">
              <option>Terror</option>
              <option>Thriller</option>
              <option>Accion</option>
              <option>Comedia</option>
              <option>Comedia Romantica</option>
            </select>
          </div>

          <div class="form-group">
            <label for="Imagen">Imagen</label>
            <input type="text" class="form-control" id="Imagen" name="Imagen" placeholder="Imagen de la Pelicula">
          </div>

          <div class="form-group">
            <label for="Duracion">Duracion</label>
            <input type="text" class="form-control" id="Duracion" name="Duracion" placeholder="Duracion de la Pelicula">
          </div>
      
          <button type="submit" class="btn btn-success btn-block" >Agregar</button>
        </form>
                </div>
            </div>
        
        </div>
    </div>
</div>
