@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<link href="~/Content/Css/StyleLogin.css" rel="stylesheet" />
<script src="~/Content/Js/ValidacionLogin.js"></script>


<h3 class="text-center">Reserva - Entrada</h3>
<div class="container">


    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Reserva de entrada</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="col-md-3">
                        <div class="panel-body">
                            <img src="~/Content/Images/soldado.png" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <table class="table">
                                    .
                            <tr>
                                <th>Pelicula</th>
                                <th>Cine</th>
                                <th>Día</th>
                                <th>Horario</th>
                                <th>Sala</th>
                            </tr>
                                    <tr>
                                        <td>Soldado Argentino</td>
                                        <td>Hoyst Moreno</td>
                                        <td>Lunes 24 Abril</td>
                                        <td>14:50</td>
                                        <td>Pantalla1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Confirmar Reserva</a>


                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>












