<!--
5.4 Home Administrativa (/administracion/inicio) (*)
La vista Home tendrá el ​menú ​​completo de las opciones que los usuarios podrán utilizar. Este
menú deberá ser visible en todas las vistas (​utilizar Layout​​). El menú estará conformado por
las siguientes opciones:
    
    - Gestión de Películas
    - Gestión de Carteleras.
    - Gestión de Sedes.
    - Reporte de Reservas

(*) En caso de no estar logueado, debe redirigirse a ​/home/login y luego de que el usuario
ingrese se lo debe auto-redirigir a la página que deseaba ingresar.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> </title>
   
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Estilos -->
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                
                <!-- Botón para regresar al inicio -->
                <li class="active"><a href="#">Home</a></li>

                <!-- Menú de Peliculas -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pel&iacute;culas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Alta</a></li>
                        <li><a href="#">Baja</a></li>
                        <li><a href="#">Modificaci&oacute;n</a></li>
                    </ul>
                </li>

                <!-- Menú de Carteleras -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Carteleras <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Alta</a></li>
                        <li><a href="#">Baja</a></li>
                        <li><a href="#">Modificaci&oacute;n</a></li>
                    </ul>
                </li>
                
                <!-- Menú de Sedes -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sedes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Alta</a></li>
                        <li><a href="#">Baja</a></li>
                        <li><a href="#">Modificaci&oacute;n</a></li>
                    </ul>
                </li>
                
                <!-- Menú de Reporte de reservas -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reporte de reservas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Opci&oacute;n 1</a></li>
                        <li><a href="#">Opci&oacute;n 2</a></li>
                        <li><a href="#">Opci&oacute;n 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <!-- Scripts (JQuery y Bootstrap) -->
    <script src="@Url.Content("~/Content/Js/Jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Js/Bootstrap/bootstrap.min.js")"></script>
</body>

</html>