@model MVC.Models.IntervaloDeTiempo
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="text-center">Reporte de Reservas</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h6 class="text-center">Hola</h6>
                @using (Html.BeginForm())
                {
                        <div class="col-md-6">
                        @Html.Label("Desde")
                        @Html.TextBox("FechaInicio", null, new { @class = "form-control", type = "Date" })
                        </div>
                    
                        <div class="col-md-6">
                        @Html.Label("Hasta")
                        @Html.TextBox("FechaFin", null, new { @class = "form-control", type = "Date" }) <br /> 
                        </div>          
                           
                        <input type="submit" class="btn btn-success btn-block" value="Ver reporte">
                
                }
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>