.oculto {
    display: none;
}

body {
    background-image: url("../Images/bg.png");
}

.fondoCabecera {
    background-image: url("../Images/bg2.png");
}

.derecha {
    text-align: right;
}

.fondoCabeceraAdmin {
    background-image: url("../Images/bg2.png");
}

.letraBlanca {
    color: white;
    font-weight: bold;
}

.fondoCabeceraAdmin2 {
    background-image: url("../Images/bg4.png");
}

.tamanoLogo {

    width: 100px;
}

.tamanoTapa {

    width: 300px;
}

.espacio {
    padding: 10px 0;
}